*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #202142;
}
.box{
    position: relative;
    border-radius: 50px;
    width: 450px;
    padding: 20px 50px;
    height: 550px;
    border-radius: 30px;
    background: #202142;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px black;
}
h2{
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 35px;
}
#inputbox{
    width: 100%;
    position: relative;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 16px;
} 
.box li{
    position: relative;
    width: calc(100% - 45px);
    display: flex;
    align-items: center;
    background: rgb(48, 101, 155);
    box-shadow: 5px 5px 5px black;
    margin: 15px 0 ;
    padding: 10px 10px 10px 45px;
    cursor: pointer;
    min-height: 45px;
    border-radius: 20px;
    color: white;
}
.box li i{
    position:absolute;
    display: flex;
    width: 30px;
    height: 30px;
    background: rgb(218, 75, 32);
    align-items: center;
    justify-content: center;
    right: -45px;
    border-radius: 40%;

}
.box li i::before{
    content: '';
    position: absolute;
    width: 20px ;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
}

.box li i::after{
    content: '';
    position: absolute;
    width: 20px ;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
}
.box li::before{
    content:'';
    position: absolute;
    left:8px;
    width: 30px;
    height: 30px;
    background: gray;
    border-radius: 30%;
}

.box li.done{
    background: rgb(43, 122, 63);
} 

.box li.done::after{
    content: '';
    position: absolute;
    left:8px;
    width: 30px;
    height: 30px;
    background: yellow;
    border-radius: 30%;
}
#list{
    position: relative;
    margin-top: 20px;
    height: 350px;
    overflow-y: auto;
}   
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: white;
}